body {
    background-color: rgb(128, 142, 155);
}

#pet-barn {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
}

.cat {
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    padding: 5px;
    background-color: #CFD8DC;
}

.dino {
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    padding: 5px;
    background-color: #CFD8DC;
}

.dog {
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    padding: 5px;
    background-color: #CFD8DC;
}

.dino-type, .dino-button {
    background-color: lightgreen;
}

.cat-type, .cat-button {
    background-color: lightblue;
}

.dog-type, .dog-button {
    background-color: brown;
}

h1 {
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
}
